extends layout.jade
block content
  .container.mt-2.text-xs-center
    if locals.message
      .row
        .col-md-6.offset-md-3
          .alert.alert-danger(role='alert')
            strong Bummer!
            |  #{locals.message}
    h1.display-4 Weather forecast
    p Type a city to get 24h weather forecast
    form.form-inline(action='/city', method='POST')
      .form-group
        label.sr-only(for='city') City
        input#city.form-control(type='text', placeholder='City', name='city')
      button.btn.btn-primary.ml-1(type='submit') Get weather


